
html,body {
  font-family: 'Raleway', sans-serif;
  padding: 0 0 2em 0;
  font-size: 18px;
  background: #7C94AC;
  color: #222;
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  color: #888;
  font-size: 2em;
}


.nav-item {
    margin-right: 1.5em;
}

.intro {
    height: 450px;
    background-image: url(/img/splash.jpg)
}

.menu {
    height: 2.5em;
}

.main {
    margin-top: 2em
}

.photo{
    height: 340px;
}

.photo img {
    border-radius: 150%;
    margin: 10px auto;
}

.about {
    display: block;
    font-size: 1.2rem;
    margin: 20px auto;
    letter-spacing: 0.6px;
    text-align: justify;
    background-color: #fff;
}

.about p{
    margin: 20px auto;
}